@font-face {
    font-family: 'Note this';
    src: url('../fonts/Note_this.ttf');
}

@font-face {
    font-family: 'Aaargh';
    src: url('../fonts/Aaargh.ttf');
}

@font-face {
    font-family: 'SourceCodePro-Light';
    src: url('../fonts/SourceCodePro-Light.otf');
}

body{
    font-size: 16px;
}

.cutedb{
    font-family: 'Note this';
    margin-left:20px;
    padding-top: 15px;
    font-size: xx-large;
}

.cutedb-navbar {
    padding : 0;
}

.bottom-buffer-20 {
    padding-bottom: 20px;
}

.bottom-buffer-50 {
    padding-bottom: 20px;
}

.legend {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    text-shadow: none;
}